* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)
    ), url('../site-1-Start/images/Baldurs-Gate-3-background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

.content {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.placeholder {
    width: 40%;
    height: 25vh;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 10px;
}